@import url('https://fonts.googleapis.com/css?family=Alegreya SC');
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');


body {
    border: 4em;
    font-family: Alegreya SC;
    color: #f2d070;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(black, #2b2b2b, black);
}
.header{
    background-image: url("images/prism.png");
    position: fixed;
    width: 100%;
    padding: 0;
    box-shadow: 0px 2px black;
}
.nav-menu {
    list-style-type: none;
    color: #f2d070;
    text-shadow: 2px 2px black;
    font-size: 1.5em;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    min-width: 35em;
}

a.nav-link:visited
{
   color: #f2d070;
   text-decoration: none;
}
a.nav-link:hover
{
    color: #f2d070;
    text-decoration: none;
    background: rgba(0, 0, 204, 0.3);
}
#sota-link{
    float: right;
}
.header-image {
    background-image: url("images/prism.png");
    width: 100%;
    height: 13em;
}
#sota-header{
    max-width: 6em;
    padding-top: 0.5em;
}
#home-header {
    max-width: 6em;
    padding: 0;
    max-height: 3em;
    padding-top: 0em;
}
#home-link {
    float: left;
    padding: 0em;
}

li {
    float: left;
}

.nav-menu a {
    display: block;
    padding: 0.5em;
    font-family: Marcellus SC;
    line-height: 2em;
    text-decoration: none;
    text-align: center;
    color: #f2d070;
  }

.header-image img{
    width: 100%;
    height: 16em;
    min-width: 600px;
    box-shadow: 0px 2px black;
}


.thumbnails img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
  }

p {
    font-size: 1em;
    text-align: justify;
    margin: 2em;
}

h1, h3 {
    text-shadow: 2px 2px black;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

td, th {
    border: 2px solid black;
    width: 8em;
    height: 1em; 
    text-align: center;
    font-family: Alegreya SC;
}

table{
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}
a:visited {
    color: black;
}